<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %> 
</head>
<body>
    
    <%- include("../partials/nav") %> 

    <div class="container mt-3">
        <!-- Blog Detay Kartı -->
        <div class="card">
            <div class="card-body">
                <!-- Başlık ve Resim Alanı -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="/static/images/<%= blog.resim %>" class="img-fluid" alt="<%= blog.baslik %>">
                    </div>
                    <div class="col-md-8">
                        <h1 class="h3 mb-3"><%= blog.baslik %></h1>
                        <p class="text-muted"><%= blog.altbaslik %></p>
                    </div>
                </div>
                
                <!-- Açıklama Alanı -->
                <div class="row">
                    <div class="col-md-12">
                        <p><%- blog.aciklama %></p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
</body>
</html>
